<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Luận án</h2>
                <hr class="light">
                <p class="text-faded">Đây là luận án sẽ nộp dự thi "Nhà kinh tế trẻ 2018"!</p>
                <a href="https://docs.google.com/document/d/1vaj45DAwY82rr8hSXmT-9gFspwRL4P0rUiHsral3Vmw/edit" target= "_blank" class="btn btn-default btn-xl">Tới luận án!</a>
            </div>
        </div>
    </div>
</section>
