<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.facebook.com/jstiming" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/minhtri.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Thành viên
                            </div>
                            <div class="project-name">
                                Mai Minh Trị
                                <li>
                                Sinh viên ĐH Kinh Tế TP HCM 
                                </li>
                                <li>
                                Chuyên ngành Hệ thống thông tin 
                                kinh doanh
                                </li>
                                <li>
                                Sinh viên năm 2
                                </li>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.facebook.com/jstiming" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/minhtri.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Thành viên
                            </div>
                            <div class="project-name">
                                Mai Minh Trị
                                <li>
                                Sinh viên ĐH Kinh Tế TP HCM 
                                </li>
                                <li>
                                Chuyên ngành Hệ thống thông tin 
                                kinh doanh
                                </li>
                                <li>
                                Sinh viên năm 2
                                </li>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.facebook.com/ut.kolnytlug.1909" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/khue.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Thành viên
                            </div>
                            <div class="project-name">
                                Nguyễn Thuỵ Như Khuê
                                <li>
                                Sinh viên ĐH Kinh Tế TP HCM 
                                </li>
                                <li>
                                Chuyên ngành Hệ thống thông tin 
                                kinh doanh
                                </li>
                                <li>
                                Sinh viên năm 2
                                </li>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.facebook.com/twin.angels.148" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/toquyen.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Thành viên
                            </div>
                            <div class="project-name">
                                Nguyễn Huỳnh Tố Quyên
                                <li>
                                Sinh viên ĐH Kinh Tế TP HCM 
                                </li>
                                <li>
                                Chuyên ngành Hệ thống thông tin 
                                kinh doanh
                                </li>
                                <li>
                                Sinh viên năm 2
                                </li>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6" style text-align: center>
               <a href="https://www.facebook.com/anhdung.pham.54772" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/anhdung.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Thành viên
                            </div>
                            <div class="project-name">
                                Phạm Anh Dũng
                                <li>
                                Sinh viên ĐH Kinh Tế TP HCM 
                                </li>
                                <li>
                                Chuyên ngành Hệ thống thông tin 
                                kinh doanh
                                </li>
                                <li>
                                Sinh viên năm 2
                                </li>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6" style text-align: center>
               <a href="https://www.facebook.com/an.phan.9638718" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/minhan.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Thành viên
                            </div>
                            <div class="project-name">
                                Phan Lương Minh An
                                <li>
                                Sinh viên ĐH Kinh Tế TP HCM 
                                </li>
                                <li>
                                Chuyên ngành Hệ thống thông tin 
                                kinh doanh
                                </li>
                                <li>
                                Sinh viên năm 2
                                </li>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
